<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Remédio popular</title>
    </head>
    <body>
        <div align="center">
            <h1>Twitts utilizados na listagem:</h1>
        </div>       
        <br>
        <br>


<div class="container" style="width: 750px; margin: 0 auto;">
<table id="myTable" class="table">
  
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuário</th>
      <th scope="col">Texto</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    {% for twitt in twitts %}
        <tr>
            <td>{{ twitt.idstr }}</td>
            <td>{{ twitt.user }}</td>
            <td>{{ twitt.text }}</td>
            <td>{{ twitt.data }}</td>
        </tr>     
    {% endfor %}
    
</table>


</div>
        
    </body>
</html>