<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Remédio popular</title>
    </head>
    <body>
        <div align="center">
            <h1>Últimos preços encontrados no Remédio Popular:</h1>
        </div>

        
		<br>
		<br>


<div class="container" style="width: 750px; margin: 0 auto;">
<table id="myTable" class="table">
  
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Medicamento: <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar remédio.." title="Digite o nome do Remédio"></th>
      <th scope="col">Fármacia</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
	{% for valor in valores %}
		<tr>
			<th scope="row">{{ forloop.counter }}</th>
			<td><a href="{% url 'post_detail' remedio_twitt=valor.remedio farmacia_twitt=valor.farmacia %}">{{ valor.remedio }}</a></td>
			<td>{{ valor.farmacia }}</td>
			<td>{{ valor.valor }}</td>
		</tr>     
    {% endfor %}
    
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</div>
		
    </body>
</html>